{
    "apiKey": {
        "native_rpc": "AavSehMLhcgz3crQHH5YJ3Rt8GMQGdV9aViGilADXGnTcjij",
        "indexer": "123456"
    },
    "database": {
        "user": "${FASSET_DB_USER}",
        "password": "${FASSET_DB_PASSWORD}"
    }
}