{
    "apiKey": {
        "native_rpc": "",
        "XRP_rpc": [""],
        "BTC_rpc": [""],
        "DOGE_rpc": [""],
        "indexer": "",
        "agent_bot" : "${FRONTEND_PASSWORD}",
        "notifier_key": "${NOTIFIER_API_KEY}",
        "data_access_layer": ""
    },
    "database": {
        "user": "${FASSET_DB_USER}",
        "password": "${FASSET_DB_PASSWORD}"
    }
}