{
    "apiKey": {
        "native_rpc": "AavSehMLhcgz3crQHH5YJ3Rt8GMQGdV9aViGilADXGnTcjij",
        "xrp_rpc": [""],
        "btc_rpc": [""],
        "doge_rpc": [""],        
        "indexer": "123456",
        "agent_bot" : "${FRONTEND_PASSWORD}"
    },
    "database": {
        "user": "${FASSET_DB_USER}",
        "password": "${FASSET_DB_PASSWORD}"
    }
}