{
    "apiKey": {
        "native_rpc": "AavSehMLhcgz3crQHH5YJ3Rt8GMQGdV9aViGilADXGnTcjij",
        "testXRP_rpc": [""],
        "testBTC_rpc": [""],
        "testDOGE_rpc": [""],        
        "indexer": "123456",
        "agent_bot" : "${FRONTEND_PASSWORD}",
        "notifier_key": "someAp1K3y"
    },
    "database": {
        "user": "${FASSET_DB_USER}",
        "password": "${FASSET_DB_PASSWORD}"
    }
}